.dashboard-wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.charts-wrapper {
    padding: 2rem;
    display: flex;
    gap: 2rem;
    flex: 1 1 auto;
    height: 0;
    box-sizing: border-box;
    animation: .3s cubic-bezier(0.4, 0, 0.2, 1) animFadeIn both
}